[submodule "aimgui/extern/pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11
[submodule "aimgui/extern/imgui"]
	path = imgui
	url = https://github.com/aimgui/imgui
	branch = docking
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot
[submodule "imnodes"]
	path = imnodes
	url = https://github.com/aimgui/imnodes
[submodule "imbp"]
	path = imbp
	url = https://github.com/thedmd/imgui-node-editor
[submodule "pyo"]
	path = pyo
	url = https://github.com/aimgui/pyo
